<template>
   
        <!--<c-help-full-guide></c-help-full-guide> -->
      
        <div class="bottom-section">
          <lightning-layout>
            <lightning-button
              class="buttonBg slds-m-left_small slds-m-top_medium slds-m-bottom_xx-large"
              label="START APPLICATION"
              variant="brand"
              onclick={handleredirectEIAForm}
            ></lightning-button>
          </lightning-layout>
      
    </div>
  </template>