h1 {
    color: #d85503;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0px 0px 18px;
}

p.content {
    margin-left: 18px;
    font-size: 14px;
    margin-bottom: 25px;
    margin-top: 6px;
}

ul {
    margin-left: 37px;
    padding-bottom: 30px;
    border-bottom: 2px solid #00000014;
    margin-right: 55px;
        
}

ul > li {
    padding: 10px 0px 10px 0px
}

div.bottom-section {
    --sds-c-button-brand-spacing-inline-start: 24px;
    --sds-c-button-brand-spacing-inline-end: 24px;
    --sds-c-button-line-height: 38px;
    font-size: 16px;
}