.THIS {
    
    min-width:430px;
}
.THIS .Red{

  text-align: left;
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 20px solid #d8dde6;
  background-color: #bd767c;
  height: 200px;
  width: 170px;
  color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;

    
}

.THIS .Red .slds-card__body lightning-primitive-icon > svg{
  fill: white;
}

.THIS .White{

  text-align: left;
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 20px solid #d8dde6;
  background-color: white;
  height: 200px;
  color: black;
  width: 170px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;

    
}
.THIS .Blue{

  text-align: left;
  border-radius: 1rem;
  padding: 1rem;
  border-radius: 20px solid #d8dde6;
  background-color:  #1f3243;
  height: 200px;
  width: 170px;
  color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;

}

.THIS .Blue .slds-card__body lightning-primitive-icon > svg{
  fill: white;
}


.THIS .slds-gutters .slds-col {
  padding-right: var(--lwc-spacingSmall,0.75rem);
  padding-left: var(--lwc-spacingSmall,0.75rem);
}

.THIS .tier-one {
  background-color: red;
}
/*etc*/

.THIS .First:hover{
  border: 3px solid rgb(84 70 160 / 1%);
    
   /* background-color: #f4f6f9;
    opacity: 0.4;
    background-image:  repeating-linear-gradient(45deg, #444CF7 25%, transparent 25%, transparent 75%, #444CF7 75%, #444CF7), repeating-linear-gradient(45deg, #444CF7 25%, #E5E5F7 25%, #E5E5F7 75%, #444CF7 75%, #444CF7);
    background-position: 0 0, 20px 20px;
    background-size: 20px 20px;*/
    
    /* background-color: #E5E5F7;
opacity: 0.2;
background-image:  linear-gradient(30deg, #444CF7 12%, transparent 12.5%, transparent 87%, #444CF7 87.5%, #444CF7), linear-gradient(150deg, #444CF7 12%, transparent 12.5%, transparent 87%, #444CF7 87.5%, #444CF7), linear-gradient(30deg, #444CF7 12%, transparent 12.5%, transparent 87%, #444CF7 87.5%, #444CF7), linear-gradient(150deg, #444CF7 12%, transparent 12.5%, transparent 87%, #444CF7 87.5%, #444CF7), linear-gradient(60deg, #444CF777 25%, transparent 25.5%, transparent 75%, #444CF777 75%, #444CF777), linear-gradient(60deg, #444CF777 25%, transparent 25.5%, transparent 75%, #444CF777 75%, #444CF777);
background-size: 40px 70px;
background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
  */
    
/* background-color: #E5E5F7;
opacity: 1;
background-image:  linear-gradient(30deg, #e4ecfc 12%, transparent 12.5%, transparent 87%, #e4ecfc 87.5%, #e4ecfc), linear-gradient(150deg, #e4ecfc 12%, transparent 12.5%, transparent 87%, #e4ecfc 87.5%, #e4ecfc), linear-gradient(30deg, #e4ecfc 12%, transparent 12.5%, transparent 87%, #e4ecfc 87.5%, #e4ecfc), linear-gradient(150deg, #e4ecfc 12%, transparent 12.5%, transparent 87%, #e4ecfc 87.5%, #e4ecfc), linear-gradient(60deg, #bfe2fa77 25%, transparent 25.5%, transparent 75%, #bfe2fa77 75%, #bfe2fa77), linear-gradient(60deg, #bfe2fa77 25%, transparent 25.5%, transparent 75%, #bfe2fa77 75%, #bfe2fa77);
background-size: 38px 67px;
background-position: 0 0, 0 0, 19px 33px, 19px 33px, 0 0, 19px 33px;*/
}
.THIS .margin{
    margin-left:2%;
}
.THIS #exampleSlider {
  position: relative;
  /* border: 1px solid black;*/
}

.THIS #exampleSlider .MS-content {
/*  margin: 5px 5px;*/
  /*overflow-x: scroll;*/
  white-space: nowrap;
  overflow: hidden;
 /* border: 1px solid red;*/
}

.THIS #exampleSlider .MS-content .item {
  display: inline-block;
  height: 220px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
/* border: 1px solid green;*/
  border-right: none;
  width: 190px;
}

.THIS #exampleSlider .MS-content .item article{
  position: relative;
}

.THIS #exampleSlider .MS-content .item article > .slds-card__header{
  display: none;
}

.THIS #exampleSlider .MS-content .item article > .slds-card__body{
  margin: 0px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.THIS #exampleSlider .MS-content .item article > .slds-card__body .date-bottom {
  position: absolute;
  bottom: 16px;
}

/*
.THIS #exampleSlider .MS-content .item p {
  font-size: 30px;
  text-align: center;
  line-height: 1;
  vertical-align: middle;
  margin: 0;
  padding: 10px 0;
}
*/


.THIS #exampleSlider .MS-controls{
padding-top:90px;
}
.THIS #exampleSlider .MS-controls button {
 /* position: absolute;*/
  float: right;  
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:#ae565e;
}

.THIS #exampleSlider .MS-controls button:hover {
  cursor: pointer;
       box-shadow: 0 4px 8px 0 white,0 4px 8px 0 white;

   /*  background: #cce1e9; 
    border-radius: 10px;*/
    
}
.THIS #exampleSlider .MS-controls .MS-left {
  left: 10px;
}


.THIS #exampleSlider .MS-controls .MS-right {
  right: 10px;
}

.THIS #exampleSlider .MS-controls > button svg{
  margin: 0px;
}

.THIS .header-title {
  font-size: 1.2rem;
  color: #ae565e;
  font-weight: 600;
  line-height: 29px;
}