.THIS .slds-col .ui-widget {
   margin: 16px 0;
}
 
.THIS .slds-col.content {
   width: 1140px;
}

.THIS.Grey svg{
   fill: grey;
}

.THIS > ul{
   padding-right: 24px;
}
.THIS.comments-icn{
  fill:#1f3243;
}

.THIS .slds-navigation-list-vertical__action,
.THIS .slds-navigation-list--vertical__action {
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   text-transform: capitalize;
   color: #0a0a0a;
  
   padding: 12px 16px;
}

.THIS .slds-is-active .slds-navigation-list-vertical__action,
.THIS .slds-is-active .slds-navigation-list--vertical__action {
   background:#ae565e;
   border-radius: 0px 24px 24px 0px;
   color: #0a0a0a;
   border: none;
   border-left: 6px solid #1f3243;
}

.THIS .slds-is-active .slds-navigation-list--vertical__action svg{
   fill: #ae565e;
}

.THIS a.slds-text-link--reset:hover{
   border-radius: 0px 24px 24px 0px;
}