ul{
    padding-left: 25px;
    padding-right: 10px;
    background: #ffffff;
}
li{
    padding: 12px 0px 6px 0px;
    border-top:none !important;
}
a{
    display:inline;
    margin-left: 8px;
    color: #8b2530;
}
.changeColor{
    fill : #347799;
}
.iconContainer{
    width :18px;
    height:10px;
    display:inline-block;
    fill: #8b2530;
}
.headingContainer{
    font-size: 18px;
    font-weight: bolder;
    font-family: arial;
    padding: 19px 0px 0px 25px;
    background: #ffffff;
    color: #8b2530;
}

.quicklink-container {
    background: #cce6e6;
    border-top-left-radius: 2rem;
    /*box-shadow: -2px 0px 12px rgba(0, 51, 51, 0.1); */
}