<template>
    <div>
      <div>
        <template if:true={sfdcBaseURL}>
          <div class="quicklink-container">
            <div class="headingContainer">Quick Links</div>
            <ul class="slds-has-dividers_top slds-has-block-links">
              <li class="slds-item">
                <div class="changeColor iconContainer">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <g>
                      <path
                        d="M48.7 2H29.6c-.8 0-1.6.5-1.6 1.3v3c0 .8.7 1.7 1.6 1.7h7.9c.9 0 1.4 1 .7 1.6l-17 17c-.6.6-.6 1.5 0 2.1l2.1 2.1c.6.6 1.5.6 2.1 0l17-17c.6-.6 1.6-.2 1.6.7v7.9c0 .8.8 1.7 1.6 1.7h2.9c.8 0 1.5-.9 1.5-1.7v-19c0-.9-.5-1.4-1.3-1.4z"
                      ></path>
                      <path
                        d="M36.3 25.5L32.9 29c-.6.6-.9 1.3-.9 2.1v11.4c0 .8-.7 1.5-1.5 1.5h-21c-.8 0-1.5-.7-1.5-1.5v-21c0-.8.7-1.5 1.5-1.5H21c.8 0 1.6-.3 2.1-.9l3.4-3.4c.6-.6.2-1.7-.7-1.7H6c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V26.2c0-.9-1.1-1.3-1.7-.7z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <a href={redirectToApplication}>New application</a>
              </li>
              <li class="slds-item">
                <div class="changeColor iconContainer">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <g>
                      <path
                        d="M48.7 2H29.6c-.8 0-1.6.5-1.6 1.3v3c0 .8.7 1.7 1.6 1.7h7.9c.9 0 1.4 1 .7 1.6l-17 17c-.6.6-.6 1.5 0 2.1l2.1 2.1c.6.6 1.5.6 2.1 0l17-17c.6-.6 1.6-.2 1.6.7v7.9c0 .8.8 1.7 1.6 1.7h2.9c.8 0 1.5-.9 1.5-1.7v-19c0-.9-.5-1.4-1.3-1.4z"
                      ></path>
                      <path
                        d="M36.3 25.5L32.9 29c-.6.6-.9 1.3-.9 2.1v11.4c0 .8-.7 1.5-1.5 1.5h-21c-.8 0-1.5-.7-1.5-1.5v-21c0-.8.7-1.5 1.5-1.5H21c.8 0 1.6-.3 2.1-.9l3.4-3.4c.6-.6.2-1.7-.7-1.7H6c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V26.2c0-.9-1.1-1.3-1.7-.7z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <a href="javascript:void(0);">New referral </a>
              </li>
              <li class="slds-item">
                <div class="changeColor iconContainer">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <g>
                      <path
                        d="M48.7 2H29.6c-.8 0-1.6.5-1.6 1.3v3c0 .8.7 1.7 1.6 1.7h7.9c.9 0 1.4 1 .7 1.6l-17 17c-.6.6-.6 1.5 0 2.1l2.1 2.1c.6.6 1.5.6 2.1 0l17-17c.6-.6 1.6-.2 1.6.7v7.9c0 .8.8 1.7 1.6 1.7h2.9c.8 0 1.5-.9 1.5-1.7v-19c0-.9-.5-1.4-1.3-1.4z"
                      ></path>
                      <path
                        d="M36.3 25.5L32.9 29c-.6.6-.9 1.3-.9 2.1v11.4c0 .8-.7 1.5-1.5 1.5h-21c-.8 0-1.5-.7-1.5-1.5v-21c0-.8.7-1.5 1.5-1.5H21c.8 0 1.6-.3 2.1-.9l3.4-3.4c.6-.6.2-1.7-.7-1.7H6c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V26.2c0-.9-1.1-1.3-1.7-.7z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <a href="javascript:void(0);">New instrument</a>
              </li>
              <li class="slds-item">
                <div class="changeColor iconContainer">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <g>
                      <path
                        d="M48.7 2H29.6c-.8 0-1.6.5-1.6 1.3v3c0 .8.7 1.7 1.6 1.7h7.9c.9 0 1.4 1 .7 1.6l-17 17c-.6.6-.6 1.5 0 2.1l2.1 2.1c.6.6 1.5.6 2.1 0l17-17c.6-.6 1.6-.2 1.6.7v7.9c0 .8.8 1.7 1.6 1.7h2.9c.8 0 1.5-.9 1.5-1.7v-19c0-.9-.5-1.4-1.3-1.4z"
                      ></path>
                      <path
                        d="M36.3 25.5L32.9 29c-.6.6-.9 1.3-.9 2.1v11.4c0 .8-.7 1.5-1.5 1.5h-21c-.8 0-1.5-.7-1.5-1.5v-21c0-.8.7-1.5 1.5-1.5H21c.8 0 1.6-.3 2.1-.9l3.4-3.4c.6-.6.2-1.7-.7-1.7H6c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V26.2c0-.9-1.1-1.3-1.7-.7z"
                      ></path>
                    </g>
                  </svg>
                </div>
                <a href="javascript:void(0);" onclick={openModal}
                  >Schedule a meeting</a
                >
              </li>
            </ul>
          </div>
        </template>
        <template if:false={sfdcBaseURL}>
          <div
            style="
              background: #cce6e6;
              height: 1000px;
              border-top-left-radius: 2rem;
              box-shadow: -2px 0px 12px rgba(0, 51, 51, 0.1);
            "
          >
            <div class="headingContainer">Helpful guides</div>
            <ul class="slds-has-dividers_top slds-has-block-links">
              <template for:each={files} for:item="keyValue">
                <li class="slds-item" key={keyValue.Id}>
                  <div class="changeColor iconContainer">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                      <g>
                        <path
                          d="M48.7 2H29.6c-.8 0-1.6.5-1.6 1.3v3c0 .8.7 1.7 1.6 1.7h7.9c.9 0 1.4 1 .7 1.6l-17 17c-.6.6-.6 1.5 0 2.1l2.1 2.1c.6.6 1.5.6 2.1 0l17-17c.6-.6 1.6-.2 1.6.7v7.9c0 .8.8 1.7 1.6 1.7h2.9c.8 0 1.5-.9 1.5-1.7v-19c0-.9-.5-1.4-1.3-1.4z"
                        ></path>
                        <path
                          d="M36.3 25.5L32.9 29c-.6.6-.9 1.3-.9 2.1v11.4c0 .8-.7 1.5-1.5 1.5h-21c-.8 0-1.5-.7-1.5-1.5v-21c0-.8.7-1.5 1.5-1.5H21c.8 0 1.6-.3 2.1-.9l3.4-3.4c.6-.6.2-1.7-.7-1.7H6c-2.2 0-4 1.8-4 4v28c0 2.2 1.8 4 4 4h28c2.2 0 4-1.8 4-4V26.2c0-.9-1.1-1.3-1.7-.7z"
                        ></path>
                      </g>
                    </svg>
                  </div>
                  <a
                    href="javascript:void(0);"
                    data-id={keyValue.Id}
                    onclick={filePreview}
                    >{keyValue.Title}</a
                  >
                </li>
              </template>
            </ul>
          </div>
        </template>
  
        <template if:true={isModalOpen}>
          <!-- Modal/Popup Box LWC starts here -->
          <section
            role="dialog"
            tabindex="-1"
            aria-labelledby="modal-heading-01"
            aria-modal="true"
            aria-describedby="modal-content-id-1"
            class="slds-modal slds-fade-in-open"
          >
            <div class="slds-modal__container">
              <!-- Modal/Popup Box LWC header here -->
              <header class="slds-modal__header">
                <button
                  class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                  title="Close"
                  onclick={closeModal}
                >
                  <lightning-icon
                    icon-name="utility:close"
                    alternative-text="close"
                    variant="inverse"
                    size="small"
                  ></lightning-icon>
                  <span class="slds-assistive-text">Close</span>
                </button>
                <h2
                  id="modal-heading-01"
                  class="slds-text-heading_medium slds-hyphenate"
                >
                  Request for Meeting
                </h2>
              </header>
              <!-- Modal/Popup Box LWC body starts here -->
              <div
                class="slds-modal__content slds-p-around_medium"
                id="modal-content-id-1"
              >
                <lightning-combobox
                  name="Applications"
                  label="Select Application"
                  value={value}
                  placeholder="--Select--"
                  options={options}
                  onchange={handleOptionChange}
                ></lightning-combobox>
                <br />
                <lightning-textarea
                  name="input1"
                  value=""
                  label="Tell us more about the requirements of the meeting"
                  placeholder="type here..."
                ></lightning-textarea>
              </div>
              <!-- Modal/Popup Box LWC footer starts here -->
              <footer class="slds-modal__footer">
                <button
                  class="slds-button slds-button_neutral"
                  onclick={closeModal}
                  title="Cancel"
                >
                  Cancel
                </button>
                <button
                  class="slds-button slds-button_brand"
                  onclick={submitDetails}
                  title="Submit"
                >
                  Submit
                </button>
              </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
      </div>
    </div>
  </template>