<template>
    <div>
      <div>
        <!--<c-help-full-guide></c-help-full-guide> -->
      </div>
      <div>
        <h1>GO2804 Lung Conditions – Health Professionals Education and Training</h1>
        <p class="content">
          The purpose of the grant opportunity is to facilitate the development and delivery of health professionals’ education and training resources, to improve the diagnosis, management and care of people with lung conditions within Australia.
        </p>
        <p style="margin-left: 18px">To be eligible you must:        </p>
        <ul class="slds-list_dotted slds-m-top_large">
          <li>
            have an Australian Business Number (ABN);
          </li>
          <li>
            be registered for the purposes of GST;
          </li>
          <li>
            and be one of the following entity types:



          </li>
          <li>
            a company incorporated in Australia;

          </li>
          <li>
            a company incorporated by guarantee;

          </li>
          <li>
            an incorporated trustee on behalf of a trust (where you apply as a trustee on behalf of a trust, please apply using the trustee name, not the name of the trust);
          </li>
          <li>Wan incorporated association;
            a partnership;
            a joint (consortia) application with a lead organisation;</li>
          <li>
            an Aboriginal and/or Torres Strait Islander Corporation registered under the Corporations (Aboriginal and /or Torres Strait Islander) Act 2006.
          </li>
        </ul>
  
        <lightning-layout class="slds-m-top_x-small">
          <lightning-layout-item padding="around-small">
            <div class="header-column">
              <p
                class="field-title"
                style="font-weight: bolder; color: #a09d9d"
                title="Field 1"
              >
                DURATION
              </p>
              <p>This application will take around 5 mins to complete</p>
            </div>
          </lightning-layout-item>
          <lightning-layout-item padding="around-small">
            <div class="header-column">
              <p
                class="field-title"
                style="font-weight: bolder; color: #a09d9d"
                title="Field 1"
              >
              Total Amount Available (AUD):

              </p>
              <p>
                
$2,000,000.00 
              </p>
            </div>
          </lightning-layout-item>
          <lightning-layout-item padding="around-small">
            <div class="header-column">
              <p
                class="field-title"
                style="font-weight: bolder; color: #a09d9d"
                title="Field 1"
              >
                TIMEFRAMES
              </p>
              <p>EST. 2 - 4 weeks after AUS government decides to assess proposal</p>
            </div>
          </lightning-layout-item>
        </lightning-layout>
        <div class="bottom-section">
          <lightning-layout>
            <lightning-button
              class="slds-m-left_small slds-m-top_medium slds-m-bottom_xx-large"
              label="View all details"
              variant="brand"
              onclick={handleredirectEIAForm}
            ></lightning-button>
          </lightning-layout>
        </div>
      </div>
    </div>
  </template>