.THIS.background-css {
    /*background-color: #eff4f7;*/
    background-color: transparent;
    
}

.THIS .header-title {
    font-size: 1.2rem;
    color: #ae565e;
    font-weight: 600;
    line-height: 29px;
}

/*.THIS {
    background-color: #eff4f7;
} */

.THIS .table-css {
    /*background-color: #eff4f7;*/
    background-color: transparent;   
    border-bottom: 5px;
    border-top: none;
}

.THIS .modified-date {
   /* font-weight: 600;*/
   color: #404040;
}

.THIS .red-circle {
    background-color: red;
}

.THIS .table-column {
    vertical-align: top;
}

.THIS .table-column1 {
    border-bottom: 1px solid #CCCCCC;
}

.THIS .green-circle {
    background-color: green;
}

.THIS .yellow-circle {
    background-color: yellow;
}

.THIS .circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.THIS .slds-table thead th {
    font-size:12px;
    font-weight: normal;
    color: #1D2127;
}

.THIS .slds-table tbody tr {
    font-size: 16px;
    color: #404040;
    line-height: 24px;
}

.THIS .slds-table_bordered tbody td {
    border-top: none;
    border-bottom: 1px solid #CCE1E9;
}

.THIS .slds-table tbody tr a {
    color: #404040;
}

.THIS .slds-table tbody tr ul {
    list-style: none;
    list-style-position: outside;
    padding-left: 0.3em;
    position: relative;
}

.THIS .slds-table tbody tr ul li::before{ 
    content: "•";
    font-size: 40px;
    position: absolute;
    left: -10px;
    top: 2px;
}

.THIS .slds-table tbody tr ul li > span{ 
    font-size:16px;
}

.THIS .slds-table tbody tr td .table__recordlastupdatelabel{
    color: #696969;
    font-size: 12px;
    line-height: 16px;
}

.THIS .slds-table_bordered:not(.slds-no-row-hover) tbody tr:hover>td:not(.slds-has-focus){
    box-shadow: none;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover>td {
    background-color: #FCFCFC;
}

.THIS .slds-table:not(.slds-no-row-hover) tbody tr:hover>td > a{
    color: #006790;
}

.THIS .slds-button {
    background-color: #ae565e;
}

.THIS a:hover,.THIS a:focus {
    text-decoration: underline;
    color: #006790 !important;
}

.THIS button.view-button {
    padding: 4px 33px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}