.THIS .application-type{
    padding: 8px 0;
}

.THIS .application-type .slds-card {
    border: none;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    cursor: pointer;
}

.THIS .application-type .slds-card.selected,
.THIS .application-type .slds-card:hover {
    border: 1px solid #006790;
    box-shadow: 2px 2px 16px rgba(0, 41, 58, 0.32);
}

.THIS .application-type .slds-card__header {
    padding: 16px 16px 0px 16px;
}

.THIS .header_title {
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    color: #8b2530;
    font-weight: 600;
}

.THIS .application-type .slds-card__header-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #8b2530;
}

.THIS .application-type .slds-card__body {
    margin-bottom: 0px;
}

.THIS .application-type .card__body {
    font-size: 14px;
    line-height: 20px;
    color: #696969;
    padding: 0px 16px 16px 16px;
}

.THIS .license-header {
    font-size: 16px;
    line-height: 24px;
    color: #1D2127;
}